In [164]:
import json

with open('./data/tad_detection.json') as f:
    d = json.load(f)

In [165]:
pred_segs = []
for i, (video_id, segs) in enumerate(d['results'].items()):
    for seg in segs:
        start = seg['segment'][0]
        end = seg['segment'][1]
        label = seg['label']
        score = seg['score']
        pred_segs.append({'video_id': video_id,
                          'start': start,
                          'end': end,
                          'label': label,
                          'score': score})

In [166]:
import pandas as pd

df = pd.DataFrame(pred_segs)
df

                 video_id      start        end       label     score
0     ginting_axelsen_000   3.730559  23.208086  none_rally  0.831576
1     ginting_axelsen_000  23.623274  25.748957  none_rally  0.013496
2     ginting_axelsen_000   3.730559  23.208086       rally  0.009299
3     ginting_axelsen_000  16.080519  23.627529       rally  0.007688
4     ginting_axelsen_000  16.080519  23.627529  none_rally  0.005834
...                   ...        ...        ...         ...       ...
3935  ginting_axelsen_020  67.285683  70.698701       rally  0.002356
3936  ginting_axelsen_020  61.796937  68.781772  none_rally  0.002254
3937  ginting_axelsen_020  67.083388  70.696987  none_rally  0.002216
3938  ginting_axelsen_020  67.285683  70.698701  none_rally  0.002187
3939  ginting_axelsen_020  69.013064  71.803582  none_rally  0.001834

[3940 rows x 5 columns]

In [167]:
threshold = 0.3
df = df[df['score'] > threshold]

In [168]:
df = df[df['label'] == 'rally']

In [169]:
df

                 video_id       start         end  label     score
580   ginting_axelsen_003    3.336126   24.860748  rally  0.751688
600   ginting_axelsen_003   19.152738   25.484544  rally  0.415353
620   ginting_axelsen_003   41.789709   46.788288  rally  0.601540
640   ginting_axelsen_003   59.121915   73.998258  rally  0.773195
660   ginting_axelsen_003   92.805804  101.695840  rally  0.598377
...                   ...         ...         ...    ...       ...
3260  ginting_axelsen_016  161.936177  168.994928  rally  0.659508
3280  ginting_axelsen_017    7.220663   11.563908  rally  0.584168
3320  ginting_axelsen_017   54.004324   63.226048  rally  0.625820
3340  ginting_axelsen_017   57.594730   64.740927  rally  0.385971
3360  ginting_axelsen_017   91.196686   95.511607  rally  0.560592

[98 rows x 5 columns]

In [170]:
# ginting_axelsen_clips = [item for item in d.items() if item[0].startswith('ginting_axelsen')]
from dataclasses import dataclass 
@dataclass
class Clip:
    name: str
    duration_in_seconds: float
    start_time: float

In [171]:
import json
clips = []
cumulative_duration = 0
match_name = "ginting_axelsen"
with open('./data/badminton_img10fps_info.json') as f:
    json_data = json.load(f)
    for name, features in json_data.items():
        if name.startswith(match_name):
            duration_in_seconds = features["feature_second"]
            print(name, duration_in_seconds)
            clip = Clip(name=name, duration_in_seconds=duration_in_seconds, start_time=round(cumulative_duration, 2))
            clips.append(clip)
            cumulative_duration += duration_in_seconds

ginting_axelsen_000 184.3
ginting_axelsen_001 176.4
ginting_axelsen_002 180.8
ginting_axelsen_003 180.2
ginting_axelsen_004 182.5
ginting_axelsen_005 176.6
ginting_axelsen_006 180.8
ginting_axelsen_007 180.6
ginting_axelsen_008 180.6
ginting_axelsen_009 177.3
ginting_axelsen_010 182.4
ginting_axelsen_011 177.9
ginting_axelsen_012 183.1
ginting_axelsen_013 179.8
ginting_axelsen_014 177.9
ginting_axelsen_015 183.0
ginting_axelsen_016 177.0
ginting_axelsen_017 179.5
ginting_axelsen_018 179.1
ginting_axelsen_019 181.3
ginting_axelsen_020 80.2

In [172]:
clips

[Clip(name='ginting_axelsen_000', duration_in_seconds=184.3, start_time=0),
 Clip(name='ginting_axelsen_001', duration_in_seconds=176.4, start_time=184.3),
 Clip(name='ginting_axelsen_002', duration_in_seconds=180.8, start_time=360.7),
 Clip(name='ginting_axelsen_003', duration_in_seconds=180.2, start_time=541.5),
 Clip(name='ginting_axelsen_004', duration_in_seconds=182.5, start_time=721.7),
 Clip(name='ginting_axelsen_005', duration_in_seconds=176.6, start_time=904.2),
 Clip(name='ginting_axelsen_006', duration_in_seconds=180.8, start_time=1080.8),
 Clip(name='ginting_axelsen_007', duration_in_seconds=180.6, start_time=1261.6),
 Clip(name='ginting_axelsen_008', duration_in_seconds=180.6, start_time=1442.2),
 Clip(name='ginting_axelsen_009', duration_in_seconds=177.3, start_time=1622.8),
 Clip(name='ginting_axelsen_010', duration_in_seconds=182.4, start_time=1800.1),
 Clip(name='ginting_axelsen_011', duration_in_seconds=177.9, start_time=1982.5),
 Clip(name='ginting_axelsen_012', duration_in_seconds=183.1, start_time=2160.4),
 Clip(name='ginting_axelsen_013', duration_in_seconds=179.8, start_time=2343.5),
 Clip(name='ginting_axelsen_014', duration_in_seconds=177.9, start_time=2523.3),
 Clip(name='ginting_axelsen_015', duration_in_seconds=183.0, start_time=2701.2),
 Clip(name='ginting_axelsen_016', duration_in_seconds=177.0, start_time=2884.2),
 Clip(name='ginting_axelsen_017', duration_in_seconds=179.5, start_time=3061.2),
 Clip(name='ginting_axelsen_018', duration_in_seconds=179.1, start_time=3240.7),
 Clip(name='ginting_axelsen_019', duration_in_seconds=181.3, start_time=3419.8),
 Clip(name='ginting_axelsen_020', duration_in_seconds=80.2, start_time=3601.1)]

In [173]:
df

                 video_id       start         end  label     score
580   ginting_axelsen_003    3.336126   24.860748  rally  0.751688
600   ginting_axelsen_003   19.152738   25.484544  rally  0.415353
620   ginting_axelsen_003   41.789709   46.788288  rally  0.601540
640   ginting_axelsen_003   59.121915   73.998258  rally  0.773195
660   ginting_axelsen_003   92.805804  101.695840  rally  0.598377
...                   ...         ...         ...    ...       ...
3260  ginting_axelsen_016  161.936177  168.994928  rally  0.659508
3280  ginting_axelsen_017    7.220663   11.563908  rally  0.584168
3320  ginting_axelsen_017   54.004324   63.226048  rally  0.625820
3340  ginting_axelsen_017   57.594730   64.740927  rally  0.385971
3360  ginting_axelsen_017   91.196686   95.511607  rally  0.560592

[98 rows x 5 columns]

In [174]:
abs_starts = []
abs_ends = []
for _, row in df.iterrows():
    clip_info = next(c for c in clips if c.name == row['video_id'])
    seg_start = row['start']
    seg_end = row['end']
    if seg_start < 0:
        print(f"seg_start = {seg_start} is changed to 0")
        seg_start = 0
    if seg_end > clip_info.duration_in_seconds:
        print(f"seg_end = {seg_start} exceed clip len and is set to clip len")
        seg_end = clip_info.duration_in_seconds
    abs_starts.append(clip_info.start_time + seg_start)
    abs_ends.append(clip_info.start_time + seg_end)
    
df['abs_start'] = abs_starts
df['abs_end'] = abs_ends

seg_start = -0.07412967830896378 is changed to 0

In [175]:
df = df.sort_values(by=['video_id', 'start'], ascending=[True, True])
df = df.reset_index(drop=True)

In [176]:
df = df[['abs_start', 'abs_end']]

In [177]:
df = df.rename(columns={'abs_start': 'start', 'abs_end': 'end'})

In [178]:
df

          start          end
0    544.836126   566.360748
1    560.652738   566.984544
2    583.289709   588.288288
3    600.621915   615.498258
4    634.305804   643.195840
..          ...          ...
93  3046.136177  3053.194928
94  3068.420663  3072.763908
95  3115.204324  3124.426048
96  3118.794730  3125.940927
97  3152.396686  3156.711607

[98 rows x 2 columns]

In [179]:
def ss_to_mmss(seconds):
    minutes = int(seconds // 60)
    seconds = int(seconds % 60)
    return f"{minutes:02}:{seconds:02}"


# Create a new column with the mm:ss format
df = df.assign(start_mmss=df['start'].apply(ss_to_mmss))
df = df.assign(end_mmss=df['end'].apply(ss_to_mmss))

In [180]:
df

          start          end start_mmss end_mmss
0    544.836126   566.360748      09:04    09:26
1    560.652738   566.984544      09:20    09:26
2    583.289709   588.288288      09:43    09:48
3    600.621915   615.498258      10:00    10:15
4    634.305804   643.195840      10:34    10:43
..          ...          ...        ...      ...
93  3046.136177  3053.194928      50:46    50:53
94  3068.420663  3072.763908      51:08    51:12
95  3115.204324  3124.426048      51:55    52:04
96  3118.794730  3125.940927      51:58    52:05
97  3152.396686  3156.711607      52:32    52:36

[98 rows x 4 columns]

In [181]:
merged_intervals = []

# Start with the first interval
current_start = df.loc[0, 'start']
current_end = df.loc[0, 'end']

# Iterate through the DataFrame rows
for i in range(1, len(df)):
    row_start = df.loc[i, 'start']
    row_end = df.loc[i, 'end']

    # If the current interval overlaps with the previous one, merge them
    if row_start <= current_end:
        current_end = max(current_end, row_end)  # Update the end of the merged interval
    else:
        # No overlap, add the previous interval and start a new one
        merged_intervals.append([current_start, current_end])
        current_start = row_start
        current_end = row_end

# Append the last interval
merged_intervals.append([current_start, current_end])

# Create a new DataFrame from the merged intervals
merged_df = pd.DataFrame(merged_intervals, columns=['start', 'end'])
merged_df = merged_df.assign(start_mmss=merged_df['start'].apply(ss_to_mmss))
merged_df = merged_df.assign(end_mmss=merged_df['end'].apply(ss_to_mmss))
merged_df

          start          end start_mmss end_mmss
0    544.836126   566.984544      09:04    09:26
1    583.289709   588.288288      09:43    09:48
2    600.621915   615.498258      10:00    10:15
3    634.305804   644.032781      10:34    10:44
4    666.820329   670.485843      11:06    11:10
..          ...          ...        ...      ...
70  3031.406754  3035.046905      50:31    50:35
71  3046.136177  3053.194928      50:46    50:53
72  3068.420663  3072.763908      51:08    51:12
73  3115.204324  3125.940927      51:55    52:05
74  3152.396686  3156.711607      52:32    52:36

[75 rows x 4 columns]

In [182]:
merged_df.to_csv('./data/ginting_axelsen_hauptprojekt.csv', index=False)